{% extends "::base.html.twig" %}

{% block body %}
    {% block header %}
        <header>
            <div class="container">
                <ul class="nav navbar-nav">
                    <li><a href="{{ path('app_site_index') }}" class="menu">Фото-галлерея</a></li>
                </ul>
                {% if user != null %}
                    <a href="{{ path('fos_user_security_logout') }}" class="menu logout">Выход</a>
                    <a href="{{ path('app_user_profile', {'user_id' : app.user.id}) }}" class="menu logout">Профиль</a>
                    <span class="hi_name"><b>Привет, {{ app.user.name }}</b></span>
                {% else %}
                    <a href="{{ path('fos_user_registration_register') }}" class="menu logout">Зарегистрироваться</a>
                    <a href="{{ path('fos_user_security_login') }}" class="menu logout">Войти</a>
                {% endif %}
            </div>
            <div style="clear: both"></div>
        </header>
    {% endblock header %}
    {% block content %}{% endblock content %}
{% endblock body %}