{% extends "@App/Site/header.html.twig" %}

{% block title %}Добро пожаловать в Галлерею{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <h1 class="text-center">Галлерея изображений</h1>
        </div>
            <div class="row">
                {% for photo in photos|reverse(true) %}
                <div class="col-lg-3">
                    <a href="{{ path('app_site_photo', {'photo_id' : photo.id}) }}">
                        <img class="index_img" src="{{ vich_uploader_asset(photo, 'photo') }}">
                    </a>
                    <a href="{{ path('app_site_photo', {'photo_id' : photo.id}) }}">{{ photo.title }}</a>
                    <br>
                    <b>Автор: </b>
                    <a href="{{ path('app_user_profile', {'user_id' : photo.user.id}) }}">{{ photo.user }}</a>
                </div>
                {% endfor %}
            </div>
    </div>

{% endblock %}
