{% extends "@App/Site/header.html.twig" %}

{% block title %}{{ photo.title }}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <h1 class="text-center">{{ photo.title }}</h1>
        </div>

            <div class="row">
                <div class="col-lg-offset-2 col-lg-8">
                    <img class="img-responsive" src="{{ vich_uploader_asset(photo, 'photo') }}">
                    <div><b>Средняя оценка:</b> {{ average_score }}</div>
                </div>
            </div>



        <div class="row">
            <div class="col-lg-offset-2 col-lg-8">
                <h2>Комментарии</h2>
                {% for comment in photo.comments|reverse(true) %}
                    <div class="photo_comments">
                        <b>Автор: </b><a href="{{ path('app_user_profile', {'user_id' : comment.user.id}) }}">
                            <b>{{ comment.user}}</b>
                        </a>
                        <b>, Оценка:</b> {{ comment.score }}
                        <div>
                            {{ comment.comment }}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        {% if user != null %}
            <div class="row">
                <div class="col-lg-offset-3 col-lg-6">
                    {{ form_start(comment_form, {'action' : path('app_site_newcomment', {'photo_id' : photo.id})}) }}
                    {{ form_widget(comment_form) }}
                    {{ form_end(comment_form) }}
                </div>
            </div>
        {% endif %}

    </div>

{% endblock %}
