.sign_form {
    padding: 0 30px 10px 30px;
    margin-top: 100px;
    background-color: #F7F7F7;
    border-radius: 2px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}

header {
    height: 50px;
    background-color: white;
    width: 100%;
}

.logout {
    float: right;
    display: block;
    cursor: pointer;
    padding: 15px;
}

.hi_name {
    float: right;
    display: block;
    padding: 15px;
    color: #002a80;
}

.logout:hover {
    text-decoration: none;
    background-color: #e7e7e7;
}

.menu {
    color: black;
}

.new {
    margin-top: 100px;
}

.new-btn {
    margin-bottom: 15px;
}

.photo_comments {
    border-bottom: 1px solid grey;
    margin-bottom: 10px;
}

.profile_img {
    width: 50px;
    height: 50px;
}

.index_img {
    width: 262px;
    height: 164px;
}