{% extends "@App/Site/header.html.twig" %}

{% block title %}Профиль{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <h1 class="text-center">Профиль пользователя: {{ profile.name }}</h1>
            {% if profile == app.user %}
                <div class="col-lg-offset-5 col-lg-6 new-btn">
                    <a href="{{ path('fos_user_profile_edit') }}" class="btn btn-success">
                        Редактировать профиль
                    </a>
                </div>
                <div class="col-lg-offset-3 col-lg-6 new-btn">
                    <button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal"
                            data-target=".bs-example-modal-lg">
                        Добавить новое Фото
                    </button>
                </div>
            {% endif %}


            <div class="modal fade bs-example-modal-lg new" tabindex="-1" role="dialog"
                 aria-labelledby="myLargeModalLabel">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        {{ form_start(photo_form, {'action': path('app_site_new'), 'method': 'POST'}) }}
                        {{ form_widget(photo_form) }}
                        {{ form_end(photo_form) }}
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-lg-offset-2 col-lg-8">
                <table class="table table-bordered">
                    {% for photo in photos|reverse(true) %}
                        <tr>
                            <td width="70px">
                                <a href="{{ path('app_site_photo', {'photo_id' : photo.id}) }}">
                                    <img class="profile_img" src="{{ vich_uploader_asset(photo, 'photo') }}">
                                </a>
                            </td>
                            <td>{{ photo.title }}</td>
                            {% if user == photo.user %}
                                <td width="100px">
                                    {% set form = delete_form.createView %}
                                    {{ form_start(form, {'action' : path('app_site_deletephoto', {'photo_id' : photo.id})}) }}
                                    {{ form_widget(form.delete, {'attr': {'class': 'btn btn-xs btn-danger'},'label': 'Удалить'}) }}
                                    {{ form_end(form) }}
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>

{% endblock %}
